/* CSS Document */


.buttonSmall

{ 

background: url('../images/Button_Small.png') no-repeat; 

border-style: none;

cursor: pointer;

cursor: hand;

width:71px;

height:41px;
font-weight: bold;
font-size: 11px;

padding-right: 7px;
padding-bottom: 5px;

font-weight: bold;

vertical-align: text-top;

text-align: center;

}

 

.buttonMedium

{ 

background: url('../images/Button_Med.png') no-repeat; 

border-style: none;

cursor: pointer;

cursor: hand;

width:119px;

height:41px;
font-weight: bold;
font-size: 11px;

padding-right: 7px;
padding-bottom: 5px;

font-weight: bold;

vertical-align: text-top;

text-align: center;

}

 

 

.buttonLarge

{ 

background: url('../images/Button_Big.png') no-repeat; 

border-style: none;

cursor: pointer;

cursor: hand;

width:161px;

height:41px;

font-weight: bold;
font-size: 11px;

padding-right: 7px;
padding-bottom: 5px;

vertical-align: text-top;

text-align: center;

}


.buttonLarge320
{ 

background: url('../images/Button_320.png') no-repeat; 

border-style: none;

cursor: pointer;

cursor: hand;

width:320px;

height:41px;

font-weight: bold;
font-size: 11px;

padding-right: 7px;
padding-bottom: 5px;

vertical-align: text-top;

text-align: center;

}


.buttonLarge240
{ 

background: url('../images/Button_240_WOBG.png') no-repeat; 

border-style: none;

cursor: pointer;

cursor: hand;

width:240px;

height:41px;

font-weight: bold;
font-size: 11px;

padding-right: 7px;
padding-bottom: 5px;

vertical-align: text-top;

text-align: center;

}
 

